<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html style="box-sizing: border-box;font-family: sans-serif;line-height: 1.15;-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: transparent;">

<head style="box-sizing: border-box;">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" style="box-sizing: border-box;">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" style="box-sizing: border-box;">
        <style style="box-sizing: border-box;">
            
        </style>
</head>
<!-- Edit the code below this line -->

<body class="bg-light" style="box-sizing: border-box;margin: 0;font-family: -apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,Roboto,&quot;Helvetica Neue&quot;,Arial,&quot;Noto Sans&quot;,sans-serif,&quot;Apple Color Emoji&quot;,&quot;Segoe UI Emoji&quot;,&quot;Segoe UI Symbol&quot;,&quot;Noto Color Emoji&quot;;font-size: 1rem;font-weight: 400;line-height: 1.5;color: #212529;background-color: #f8f9fa!important;min-width: 992px!important;">
    <br>
    <div class="container" style="box-sizing: border-box;width: 100%;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;min-width: 992px!important;">
        <div class="card mb-4" style="border-top: 5px solid #6a00ff;box-sizing: border-box;position: relative;-ms-flex-direction: column;flex-direction: column;min-width: 0;word-wrap: break-word;background-color: #fff;background-clip: border-box;border: 1px solid rgba(0,0,0,.125);border-radius: .25rem;margin-bottom: 1.5rem!important;">
            <div class="card-body" style="box-sizing: border-box;-ms-flex: 1 1 auto;flex: 1 1 auto;min-height: 1px;padding: 1.25rem;">
                <h4 class="text-center" style="box-sizing: border-box;margin-top: 0;margin-bottom: .5rem;font-weight: 500;line-height: 1.2;font-size: 1.5rem;text-align: center!important;">New Form Submission</h4>
                <br style="box-sizing: border-box;">
                <br style="box-sizing: border-box;">
                <h6 class="text-center" style="box-sizing: border-box;margin-top: 0;margin-bottom: .5rem;font-weight: 500;line-height: 1.2;font-size: 1rem;text-align: center!important;">Here's what they had to say</h6>
            </div>
        </div>

        <div class="card w-100 mb-4" style="box-sizing: border-box;position: relative;-ms-flex-direction: column;flex-direction: column;min-width: 0;word-wrap: break-word;background-color: #fff;background-clip: border-box;border: 1px solid rgba(0,0,0,.125);border-radius: .25rem;width: 100%!important;margin-bottom: 1.5rem!important;">
            <div class="card-body" style="box-sizing: border-box;-ms-flex: 1 1 auto;flex: 1 1 auto;min-height: 1px;padding: 1.25rem;">
                <p class="text-center" style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;text-align: center!important;">{{message}}</p>
            </div>
        </div>

        <div class="text-center text-muted" style="box-sizing: border-box;text-align: center!important;color: #6c757d!important;">Submited {{time}}</div>
        <br style="box-sizing: border-box;">
        <div class="text-center" style="box-sizing: border-box;text-align: center!important;">
            <a href="https://github.com/DVasquez4155/Form-To-Email" style="box-sizing: border-box;color: #007bff;text-decoration: underline;background-color: transparent;">
                <img src="https://ci3.googleusercontent.com/proxy/cb1y7mm2CmZPWndPRPf3oiZojx1k9fsz92ApFUu2dNsuSwpCwed0veF20HBnC_4kcjvLY8Ys59vvvl97vvqoG4aaDoPK0htLWtOUTlpf-Vzra5T07A=s0-d-e1-ft#https://d1ma8knj6twvg6.cloudfront.net/static/img/social/github.png" style="box-sizing: border-box;vertical-align: middle;border-style: none;page-break-inside: avoid;">
            </a>
        </div>
        <br>
        <div class="text-center text-muted" style="box-sizing: border-box;text-align: center!important;color: #6c757d!important;">
            <a href="dvasquez4155.com" style="box-sizing: border-box;color: #007bff;text-decoration: underline;background-color: transparent;">
                dvasquez4155.com
            </a>
        </div>
    </div>
    <br>
</body>

</html>