/* @media (min-width: 768px){
    .portfolio-block {
        padding-bottom: 100px;
        padding-top: 100px;
    }
}
.portfolio-block.block-intro .avatar {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 100px;
    margin-bottom: 30px;
}
.portfolio-block.block-intro p {
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 30px;
}
.portfolio-block.block-intro .about-me {
    max-width: 800px;
    margin: 0 auto;
}
.portfolio-block.block-intro p {
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 30px;
}
*, :after, :before {
    box-sizing: border-box;
} */
