/* /* article > img {
    float: left;
    padding: 1em;
} */
.zero {
    padding-bottom: 0;
}
body {
    color: #777777;
    background-image: url('../images/spikes.png');
    margin: 0;
    padding: 0;
}
header {
    background-color: #fff;
    border-bottom: 8px solid #cccccc;
}
div.center {
    margin: auto;
}
nav {
    display: inline-block;
}
nav > a {
    background-color: #fff;
    display: inline-block;
    transition: background-color 0.5s;
}
article {
    background-color: #fff;
    overflow: hidden;
    max-width: 960px;
    margin: 40px auto 0px auto;
    padding: 20px;
    border: 2px solid #cccccc;
    line-height: 1.5em;
    margin-bottom: 7em;
}
.title {
    background-color: #4aaaa5;
    color:#fff;
    margin-bottom: 0;
    height: 2em;
    padding-top: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
}
h2 {
    color: #4aaaa5;
}
html, body {
    height: 100%;
  }
  article {
    min-height: 100%;
  }
footer {
   position: relative;
   left:0px;
   bottom:0px;
   margin-top: -30px;
   height:30px;
   width:100%;

    border-top: 8px solid #4aaaa5;
    padding-top: 1em;
    padding-bottom: 3em;
    background-color: #666;
}
p.center {
    text-align: center;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}
nav > a {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    transition: background-color 0.5s ease 0s;
    height: 5em;
    padding: 1.5em;
    padding-bottom: 0;
}

.right { 
    text-align: right;
    padding-right: 1em;
}
.icon {
    width:35px;
    transition: .25s;
}
.white {
    filter: grayscale(100%) brightness(1000%);
    color: #fff;
}
.icon:hover {
    filter: grayscale(0%) brightness(100%);
}
.card {
    margin-bottom: 1em;
}