article > img {
    float: left;
    padding: 1em;
}
body {
    color: #777777;
    background-image: url('../images/spikes.png');
    margin: 0;
    padding: 0;
}
header {
    position: relative;
    width: 100%;
    background-color: #fff;
    border-bottom: 8px solid #cccccc;
}
div.center {
    margin: auto;
}
nav {
    float: right;
}
nav > a {
    background-color: #fff;
    display: inline-block;
    padding: 0px 10px;
    transition: background-color 0.5s;
    padding: 1.5em;
}
header > div {
    width: 960px;
}
article {
    background-color: #fff;
    overflow: hidden;
    max-width: 960px;
    margin: 40px auto 0px auto;
    padding: 20px;
    border: 2px solid #cccccc;
    line-height: 1.5em;
}
.title {
    background-color: #4aaaa5;
    display: inline-block;
    color:#fff;
    height: 5em;
    padding-left: 1em;
    padding-right: 1em;
}
/* body {
    background: rgb(2,0,36);
background: linear-gradient(340deg, rgba(2,0,36,1) 0%, rgba(2,39,82,1) 10%, rgba(2,44,87,1) 31%, rgba(2,67,110,1) 49%, rgba(0,212,255,1) 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */
/* nav, footer{    
    background-color: #022752;
} */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
h2 {
    color: #4aaaa5;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    transition: 0.25s;
    background-color: #11111162;
}

footer {
    border-top: 8px solid #4aaaa5;
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 2.5rem;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #666;
}
p.center {
    text-align: center;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}
nav.left {
    height: 100%;
    width: 5%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    position: absolute;
    top: 0px;
    right: 10px;
}
.right { 
    position: absolute;
    right: 1em;
}
.icon {
    width:35px;
    transition: .25s;
}
/* .navIcon {
    height: 100%;
    width: 100%;
    transition: .25s;
} */
.white {
    filter: grayscale(100%) brightness(1000%);
    color: #fff;
}
.icon:hover {
    filter: grayscale(0%) brightness(100%);
}