.page-footer .social-icons a {
  background: black;
}

.page-footer .links, .page-footer a {
  color: white;
}

body {
  background-image: url("../../assets/img/spikes.png");
}

.portfolio-block form {
  background: white;
}

.portfolio-info-card {
  background-color: white;
}

