html, body {
  height: 100%;
  margin: 0;
}
.page {
  min-height: calc(100vh - 100px);
  margin-bottom: -50px;
}
.page-footer {
  height: 150px;
}
.badge-holder {
  border: 1px solid #e5e5e5;
  color: #333;
  font-family: Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size: .88rem;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 150px;
  /* height: 270px; */
  margin-inline: auto;
  display: inline-block;
  margin: 3px;
}
#badge {

  padding: 22px 0 0;
}
#provided {
  background: #f0f0f0;
  border-top: 1px solid #e2e2e2;
  color: #b6b6b6;
  font-size: .44rem;
  line-height: 28px;
  margin: 18px 0 0;
  text-transform: uppercase;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
#badge-issuer {
  color: #666;
  font-size: .81rem;
  font-style: italic;
  line-height: 1.1em;
  margin: 0 8px;
  max-width: 100%;
  overflow: hidden;
}
img {
  margin: 0 0 22px;
}
#badge-name {
  color: #333;
  display: block;
  font-size: 1rem;
  line-height: 1.1em;
  margin: 0 8px 8px;
}
#provided a {
  color: #b6b6b6;
  text-decoration: none;
}
#provided span {
  background-image: url("https://cdn.credly.com/assets/embed/credly-logo-gray-19b614a3846865b70a8b259961df21a9f4d364c11b26085c66aeb2acd0515198.svg");
  background-size: 30px 14px;
  background-position: left 6px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 28px;
  text-indent: -99999px;
  vertical-align: middle;
  width: 30px;
}